# =============================================================================
# .DOCKERIGNORE for MLDEPLOY project
# -----------------------------------------------------------------------------

# Git
.git
*.md

# AWS
.aws
*.pem

# Caching
.cache
